html, body {
  margin: 0;
}

.wrapper {
  position: relative;
  display: inline-block;
  margin: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 16px;
  width: 164px;
}

.title {
  top: -8px;
  left: 8px;
  font-size: 12px;
  padding: 0 8px;
  position: absolute;
  background-color: white;
  text-transform: uppercase;
}

.square {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: red;
  left: calc(50% - 32px);
}
